* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
  background-color: rgb(250,250,250);
  font-family: Verdana, Arial, sans-serif;
  display: flex;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

#navbar li:hover {
  background-color: none;
  background-image: linear-gradient(yellow, black);    }


#main-doc {
height: 100vh;
overflow-x: hidden;
overflow-y: scroll;
padding: 20px;
}

section>header {
  font-weight: bolder;
  font-size: 1.2em;
  width: 95%;
  background-image: linear-gradient(to right, #000000, #ffffff);
  color: #ffffff;     
  padding: 3px;
  margin: 15px 0px 0px 20px;
  font-family: 'Montserrat', sans-serif;
}

section article {
color: #4d4e53;
margin: 15px;
font-size: 0.96em;
}

section li {
margin: 15px 0px 0px 20px;
}

section p {
margin: 15px 0px 0px 20px;
}

code {
display: block;
text-align: left;
white-space: pre-line;
position: relative;
word-break: normal;
word-wrap: normal;
line-height: 2;
background-color: #f7f7f7;
padding: 15px;
margin: 10px;
border-radius: 5px;
}

#header-container {
      height: 60px;
      background-color: #000000;
      position: sticky;
      top: 0;
      left: 0;
      font-size: 28px;
      padding: 10px;
      color: #ffffff;
      display: flex;
      flex-direction: left;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap-reverse;
  }

  #title {order: 2;}

  #js-logo {
    height: 35px;
    width: auto;
    margin-right: 3px;
    order: 1;
  }

  nav ul {
     text-align: left;
     width: 100%;
     margin: 0;
     padding: 0;
  }


#navbar li {
  list-style-type: none;
  padding: 20px;
  border-top: solid 2px #ffffff;
  background-color: #000000;
}

#navbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
}

/* Mobiles */
@media only screen and (max-width: 727px) {

html, body {
  display: block;
}

nav {
  height: 33vh;
  width: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
}

#main-doc {
  margin-top: 36vh;
  position: fixed;

}
}
/* Tablets, Laptops and Desktop layout */

@media only screen and (min-width: 728px) {

 html,body {
  flex-flow: row no-wrap;
 }

  nav {
      flex: 1 0 400px;
      background-color: lightblue;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;
      font-family: 'Montserrat', sans-serif;
  }



}